
table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    float: center;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
    color: blue;
}

#hola{
    color:black;
    background-color: rgb(144, 146, 146);
}

td.negativo {
    color: red;
}

td.positivo {
    color: blue;
}

h1 {
    text-align: center;
}

img{
    width: 60%;
    float: center;
    margin-left: 20%;
}