table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}
th, td {
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
.bar {
    background-image: url('green.png');
    height: 20px;
    display: block;
    margin-top: 5px;
}

h1{
    color:aquamarine;
    margin-left: 100px;
}