.hola {
    background-color: rgb(44, 235, 209);
}

.buenas {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}

h1 {
    text-align: center;
}

.prueba{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    animation: rainbow-border 5s infinite;
}

@keyframes rainbow-border {
    0% {
        border: 7px solid rgb(255, 0, 0); /* Red */
    }
    20% {
        border: 7px solid rgb(255, 165, 0); /* Orange */
    }
    40% {
        border: 7px solid rgb(255, 255, 0); /* Yellow */
    }
    60% {
        border: 7px solid rgb(0, 255, 0); /* Green */
    }
    80% {
        border: 7px solid rgb(0, 0, 255); /* Blue */
    }
    100% {
        border: 7px solid rgb(150, 3, 255); /* Indigo */
    }
}

button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 10px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   button:active,
   button:hover {
    outline: 0;
   }
   
   button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   button:hover span {
    background: none;
   }
   
   button:active {
    transform: scale(0.9);
   }

   .table-container {
    overflow-x: auto;
    max-width: 80%;
}
